@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none;
  margin: 0;
  padding: 0; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 14px;
  font-family: "微軟正黑體"; }

.header {
  height: 150px; }
  .header .nav {
    height: 40px; }

.box {
  margin: 40px;
  padding: 40px; }

.box1 {
  margin: 50em;
  width: 50px;
  padding: 90px;
  padding: 120px; }

.box2 {
  margin: 1600px;
  width: 3200px;
  padding: 400em; }

.box3 {
  font: 4;
  width: 0.5px; }

h2 {
  font-size: 200px; }

.box {
  background-color: #555555; }

.box4 {
  width: 11;
  width: 10;
  width: 10; }

h1 {
  font-size: 70px; }

h2 {
  font-size: 63px; }

h3 {
  font-size: 42px; }

h4 {
  font-size: 36px; }

h5 {
  font-size: 22px; }

.col_1 {
  width: 1px; }

.col_2 {
  width: 2px; }

.col_3 {
  width: 3px; }

.col_4 {
  width: 4px; }

.col_5 {
  width: 5px; }

.col_6 {
  width: 6px; }

.col_7 {
  width: 7px; }

.col_8 {
  width: 8px; }

.col_9 {
  width: 9px; }

.col_10 {
  width: 10px; }

.col_11 {
  width: 11px; }

.col_12 {
  width: 12px; }

.col_13 {
  width: 13px; }

.col_14 {
  width: 14px; }

.col_15 {
  width: 15px; }

.col_16 {
  width: 16px; }

.col_17 {
  width: 17px; }

.col_18 {
  width: 18px; }

.col_19 {
  width: 19px; }

.col_20 {
  width: 20px; }

.names_1 {
  width: 1px; }

.names_2 {
  width: 2px; }

.names_3 {
  width: 3px; }

.names_4 {
  width: 4px; }

.names_5 {
  width: 5px; }

.names_6 {
  width: 6px; }

.names_7 {
  width: 7px; }

.names_8 {
  width: 8px; }

.names_9 {
  width: 9px; }

.names_10 {
  width: 10px; }

.names_11 {
  width: 11px; }

.names_12 {
  width: 12px; }

.names_13 {
  width: 13px; }

.names_14 {
  width: 14px; }

.names_15 {
  width: 15px; }

.names_16 {
  width: 16px; }

.names_17 {
  width: 17px; }

.names_18 {
  width: 18px; }

.names_19 {
  width: 19px; }

.names_20 {
  width: 20px; }

.names_21 {
  width: 21px; }

.names_22 {
  width: 22px; }

.names_23 {
  width: 23px; }

.names_24 {
  width: 24px; }

.names_25 {
  width: 25px; }

.names_26 {
  width: 26px; }

.names_27 {
  width: 27px; }

.names_28 {
  width: 28px; }

.names_29 {
  width: 29px; }

.names_30 {
  width: 30px; }

.names_31 {
  width: 31px; }

.names_32 {
  width: 32px; }

.names_33 {
  width: 33px; }

.names_34 {
  width: 34px; }

.names_35 {
  width: 35px; }

.names_36 {
  width: 36px; }

.names_37 {
  width: 37px; }

.names_38 {
  width: 38px; }

.names_39 {
  width: 39px; }

.names_40 {
  width: 40px; }

.names_41 {
  width: 41px; }

.names_42 {
  width: 42px; }

.names_43 {
  width: 43px; }

.names_44 {
  width: 44px; }

.names_45 {
  width: 45px; }

.names_46 {
  width: 46px; }

.names_47 {
  width: 47px; }

.names_48 {
  width: 48px; }

.names_49 {
  width: 49px; }

.names_50 {
  width: 50px; }

.names_51 {
  width: 51px; }

.names_52 {
  width: 52px; }

.names_53 {
  width: 53px; }

.names_54 {
  width: 54px; }

.names_55 {
  width: 55px; }

.names_56 {
  width: 56px; }

.names_57 {
  width: 57px; }

.names_58 {
  width: 58px; }

.names_59 {
  width: 59px; }

.names_60 {
  width: 60px; }

.names_61 {
  width: 61px; }

.names_62 {
  width: 62px; }

.names_63 {
  width: 63px; }

.names_64 {
  width: 64px; }

.names_65 {
  width: 65px; }

.names_66 {
  width: 66px; }

.names_67 {
  width: 67px; }

.names_68 {
  width: 68px; }

.names_69 {
  width: 69px; }

.names_70 {
  width: 70px; }

.names_71 {
  width: 71px; }

.names_72 {
  width: 72px; }

.names_73 {
  width: 73px; }

.names_74 {
  width: 74px; }

.names_75 {
  width: 75px; }

.names_76 {
  width: 76px; }

.names_77 {
  width: 77px; }

.names_78 {
  width: 78px; }

.names_79 {
  width: 79px; }

.names_80 {
  width: 80px; }

.names_81 {
  width: 81px; }

.names_82 {
  width: 82px; }

.names_83 {
  width: 83px; }

.names_84 {
  width: 84px; }

.names_85 {
  width: 85px; }

.names_86 {
  width: 86px; }

.names_87 {
  width: 87px; }

.names_88 {
  width: 88px; }

.names_89 {
  width: 89px; }

.names_90 {
  width: 90px; }

.names_91 {
  width: 91px; }

.names_92 {
  width: 92px; }

.names_93 {
  width: 93px; }

.names_94 {
  width: 94px; }

.names_95 {
  width: 95px; }

.names_96 {
  width: 96px; }

.names_97 {
  width: 97px; }

.names_98 {
  width: 98px; }

.names_99 {
  width: 99px; }

.names_100 {
  width: 100px; }

.theme_yellow {
  color: yellow; }

.theme_other {
  margin: 10px;
  padding: 10px;
  color: green; }

.a1 {
  background-image: url("img/a1.jpg");
  width: 100%; }

.a2 {
  background-image: url("img/a2.jpg");
  width: 100%; }

.a3 {
  background-image: url("img/a3.jpg");
  width: 100%; }

.a4 {
  background-image: url("img/a4.jpg");
  width: 100%; }

.a5 {
  background-image: url("img/a5.jpg");
  width: 100%; }

.a1 {
  background-image: url("img/a1.jpg");
  width: 100%; }

.a2 {
  background-image: url("img/a2.jpg");
  width: 100%; }

.a3 {
  background-image: url("img/a3.jpg");
  width: 100%; }

.a4 {
  background-image: url("img/a4.jpg");
  width: 100%; }

h1 {
  font-size: 4em; }

h2 {
  font-size: 3.5em; }

h3 {
  font-size: 3em; }

h4 {
  font-size: 2.3em; }

.col-md-1 {
  width: 4.16667%; }

.col-md-2 {
  width: 8.33333%; }

.col-md-3 {
  width: 12.5%; }

.col-md-4 {
  width: 16.66667%; }

.col-md-5 {
  width: 20.83333%; }

.col-md-6 {
  width: 25%; }

.col-md-7 {
  width: 29.16667%; }

.col-md-8 {
  width: 33.33333%; }

.col-md-9 {
  width: 37.5%; }

.col-md-10 {
  width: 41.66667%; }

.col-md-11 {
  width: 45.83333%; }

.col-md-12 {
  width: 50%; }

.col-md-13 {
  width: 54.16667%; }

.col-md-14 {
  width: 58.33333%; }

.col-md-15 {
  width: 62.5%; }

.col-md-16 {
  width: 66.66667%; }

.col-md-17 {
  width: 70.83333%; }

.col-md-18 {
  width: 75%; }

.col-md-19 {
  width: 79.16667%; }

.col-md-20 {
  width: 83.33333%; }

.col-md-21 {
  width: 87.5%; }

.col-md-22 {
  width: 91.66667%; }

.col-md-23 {
  width: 95.83333%; }

.col-md-24 {
  width: 100%; }
