.com {
  margin: 10x; }

.color_lightbox_1 {
  background-color: rgba(67, 15, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_2 {
  background-color: rgba(79, 31, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_3 {
  background-color: rgba(91, 46, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_4 {
  background-color: rgba(103, 61, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_5 {
  background-color: rgba(115, 77, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_6 {
  background-color: rgba(127, 92, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_7 {
  background-color: rgba(139, 107, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_8 {
  background-color: rgba(151, 122, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_9 {
  background-color: rgba(163, 138, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_lightbox_10 {
  background-color: rgba(175, 153, 255, 0.822);
  width: 300px;
  height: 50px; }

.color_light_1 {
  background-color: #080808;
  width: 300px;
  height: 50px; }

.color_light_2 {
  background-color: #0f0f0f;
  width: 300px;
  height: 50px; }

.color_light_3 {
  background-color: #171717;
  width: 300px;
  height: 50px; }

.color_light_4 {
  background-color: #1f1f1f;
  width: 300px;
  height: 50px; }

.color_light_5 {
  background-color: #262626;
  width: 300px;
  height: 50px; }

.color_light_6 {
  background-color: #2e2e2e;
  width: 300px;
  height: 50px; }

.color_light_7 {
  background-color: #363636;
  width: 300px;
  height: 50px; }

.color_light_8 {
  background-color: #3d3d3d;
  width: 300px;
  height: 50px; }

.color_light_9 {
  background-color: #454545;
  width: 300px;
  height: 50px; }

.color_light_10 {
  background-color: #4d4d4d;
  width: 300px;
  height: 50px; }

.color_light_11 {
  background-color: #545454;
  width: 300px;
  height: 50px; }

.color_light_12 {
  background-color: #5c5c5c;
  width: 300px;
  height: 50px; }

.color_light_13 {
  background-color: #636363;
  width: 300px;
  height: 50px; }

.color_light_14 {
  background-color: #6b6b6b;
  width: 300px;
  height: 50px; }

.color_light_15 {
  background-color: #737373;
  width: 300px;
  height: 50px; }

.color_light_16 {
  background-color: #7a7a7a;
  width: 300px;
  height: 50px; }

.color_light_17 {
  background-color: #828282;
  width: 300px;
  height: 50px; }

.color_light_18 {
  background-color: #8a8a8a;
  width: 300px;
  height: 50px; }

.color_light_19 {
  background-color: #919191;
  width: 300px;
  height: 50px; }

.color_light_20 {
  background-color: #999999;
  width: 300px;
  height: 50px; }

.color_light_21 {
  background-color: #a1a1a1;
  width: 300px;
  height: 50px; }

.color_light_22 {
  background-color: #a8a8a8;
  width: 300px;
  height: 50px; }

.color_light_23 {
  background-color: #b0b0b0;
  width: 300px;
  height: 50px; }

.color_light_24 {
  background-color: #b8b8b8;
  width: 300px;
  height: 50px; }

.color_light_25 {
  background-color: #bfbfbf;
  width: 300px;
  height: 50px; }

.color_light_26 {
  background-color: #c7c7c7;
  width: 300px;
  height: 50px; }

.color_light_27 {
  background-color: #cfcfcf;
  width: 300px;
  height: 50px; }

.color_light_28 {
  background-color: #d6d6d6;
  width: 300px;
  height: 50px; }

.color_light_29 {
  background-color: #dedede;
  width: 300px;
  height: 50px; }

.color_light_30 {
  background-color: #e6e6e6;
  width: 300px;
  height: 50px; }

.color_light_31 {
  background-color: #ededed;
  width: 300px;
  height: 50px; }

.color_light_32 {
  background-color: whitesmoke;
  width: 300px;
  height: 50px; }

.color_light_33 {
  background-color: #fcfcfc;
  width: 300px;
  height: 50px; }

.vertical_text_en {
  transform: rotate(-90deg);
  transform-origin: 0% 0%; }

.vertical_text_cn {
  writing-mode: vertical-rl; }

.box {
  position: relative;
  min-height: 1px;
  height: 20px;
  width: 100px; }
  .box:after {
    content: '';
    clear: both; }
